*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
body{
    background-color: grey;
}
.main{
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    width: 380px;
    height: 600px;
    background: linear-gradient(45deg,rgb(15, 174, 228),rgb(20, 149, 208));
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.dark{
    background: linear-gradient(45deg,rgb(81, 124, 138),rgb(74, 97, 107));
}
.top{
    margin-top: 10px;
    width: 90%;
    display: flex;
    justify-content: space-between ;
}
.tim{
    width: 50%;
    display: flex;
    margin-bottom: 50px;
    position: relative;
    border-bottom: 1px solid white;
}
.tim input{
    outline: 0;
    border:  none;
    padding: 2px 2px 2px 20px;
    background: transparent;
    font-size: 15px;
    position: relative;
    bottom: 2px;
}
.tim input::placeholder{
    color: white;
}
.center{
    height: 420px;
}
.center span{
    margin-right: 6px;
}
.center h2{
    font-weight: 1-22;
    font-size: 40px;
}
.center h3{
    margin-top: 10px;
    font-size: 80px;
}
.center h5{
    margin:10px 0 15px 0;
    font-size: 25px;
}
.bottom{
    padding-top: 5px;
    border-top: 1px solid white;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-row-gap: 5px;
}
.item{
    display: flex;
    padding-left: 20px;
}
#kn{
    position: absolute;
    font-size: 10px;
    bottom: 5px;
    right: 10px;
    color: rgba(240, 248, 255,0.8);
}
.home,#btn{
    cursor: pointer;
    width: 28px;
    height: 28px;
    font-size: 16px;
    right: 17px;
    border: 1px solid white;
    padding: 3.5px;
    border-radius: 50%;
}
#btn{
    font-size: 20px;
}
.h{
    color: rgb(255, 255, 255);
    margin-right: 3px;
}
